In [3]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [4]:
d2023 = pd.read_csv('data/2023.csv', encoding='cp949')
d2024 = pd.read_csv('data/2024.csv', encoding='utf-8')

d2023.tail() #16195개
d2024.tail() # 16215개

C:\Users\Tammy Kim\AppData\Local\Temp\ipykernel_3852\2234383092.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  d2023 = pd.read_csv('data/2023.csv', encoding='cp949')

,pnid,MVIT,RVIT,XRVIT,TYP,Q1,Q1_1a1,Q1_1a2,Q1_1a3,Q2a1,...,D_SEX,D_AGE,D_MOK,D_NUM,D_GUB,weight1,weight2,weight3,weight4,weight
16211,19273,2,2,5.0,1,1,5.0,4.0,7.0,1.0,...,2,4,1,2,1,NaN,NaN,NaN,1215.22,1215.22
16212,19274,2,2,5.0,1,1,9.0,2.0,7.0,5.0,...,1,4,1,2,1,NaN,NaN,NaN,1131.83,1131.83
16213,19275,1,1,NaN,1,1,5.0,7.0,NaN,NaN,...,2,5,1,1,1,NaN,NaN,NaN,1212.38,1212.38
16214,19277,2,2,5.0,1,1,2.0,4.0,6.0,NaN,...,1,5,1,2,1,NaN,NaN,NaN,1287.85,1287.85
16215,19279,1,1,NaN,1,2,11.0,NaN,NaN,NaN,...,1,2,2,1,1,NaN,NaN,NaN,916.93,916.93

In [5]:
# 연도별 데이터에 'year' 컬럼 추가
d2023['year'] = 2023
d2024['year'] = 2024

In [6]:
# 2023
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
#print(d2023.isnull().sum())

# 필요한 컬럼만 남기고 나머지 모두 drop
cols_to_keep23 = [
    'pnid', 'RVIT', 'TYP', 'Q1', 'Q3_1a1', 'Q3_2a1', 'Q4a1', 'Q4a2', 'Q4a3', 'Q4a_dk',
    'Q4_1a1', 'Q4_1a2', 'Q4_1a3', 'Q4_2a1', 'Q4_2a2', 'Q4_2a3', 'Q4_2a_dk', 'Q5',
    'Q5_1a01', 'Q5_1a02', 'Q5_1a03', 'Q5_1a04', 'Q5_1a05', 'Q5_1a06', 'Q5_1a07', 'Q5_1a08',
    'Q5_1a09', 'Q5_1a10', 'Q5_1a99', 'Q7A', 'Q8_1a1', 'Q9_1_1', 'Q9_2a01', 'Q9_2a02',
    'Q9_2a03', 'Q9_2a04', 'Q9_2a05', 'Q9_2a06', 'Q9_2a07', 'Q9_2a08', 'Q9_2a09', 'Q9_2a10',
    'Q9_2a11', 'Q9_2a12', 'Q9_2a13', 'Q9_2a14', 'Q9_2a15', 'Q9_2a16', 'Q9_2a17',
    'M일HAP', '총액1인TOT2', 'C총액1인MIS',
    'MQ10_2b01', 'MQ10_2b02', 'MQ10_2b03', 'MQ10_2b04', 'MQ10_2b05', 'MQ10_2b06',
    'MQ10_2b07', 'MQ10_2b08', 'MQ10_2b09', 'MQ10_2b10', 'MQ10_2b11', 'MQ10_2b12', 'MQ10_2b13',
    'Q11', 'Q12a01', 'Q12a02', 'Q12a03', 'Q12a04', 'Q12a05', 'Q12a06', 'Q12a07', 'Q12a08',
    'Q12a09', 'Q12a10', 'Q12a11', 'Q12a12', 'Q12a13', 'Q12a14', 'Q12a15',
    'Q12a16', 'Q12a17', 'Q12a18', 'Q12a19', 'Q12a20', 'Q12a21', 'Q12a22', 'Q12a23', 'Q12a24', 'Q12a25',
    'Q13', 'Q14',
    'D_MON', 'D_BUN', 'D_NAT', 'D_SEX', 'D_AGE', 'D_MOK', 'D_NUM', 'D_GUB',
    'weight', 'year'
]

d23 = d2023[cols_to_keep23]
d23.head()

new_names = {
    'pnid': 'id',
    'RVIT': 'visitnum',
    'TYP': 'triptype',
    'Q1': 'purpose',
    'Q3_1a1': 'act_interest',
    'Q3_2a1': 'infra_interest',
    'Q4a1': 'info_1',
    'Q4a2': 'info_2',
    'Q4a3': 'info_3',
    'Q4a_dk': 'info_na',
    'Q4_1a1': 'site_used_1',
    'Q4_1a2': 'site_used_2',
    'Q4_1a3': 'site_used_3',
    'Q4_2a1': 'info_lack_1',
    'Q4_2a2': 'info_lack_2',
    'Q4_2a3': 'info_lack_3',
    'Q4_2a_dk': 'info_lack_na',
    'Q5': 'booking_time',
    'Q5_1a01': 'resv_item_1',
    'Q5_1a02': 'resv_item_2',
    'Q5_1a03': 'resv_item_3',
    'Q5_1a04': 'resv_item_4',
    'Q5_1a05': 'resv_item_5',
    'Q5_1a06': 'resv_item_6',
    'Q5_1a07': 'resv_item_7',
    'Q5_1a08': 'resv_item_8',
    'Q5_1a09': 'resv_item_9',
    'Q5_1a10': 'resv_item_10',
    'Q5_1a99': 'resv_item_other',
    'Q7A': 'companion',
    'Q8_1a1': 'act_satis',
    'Q9_1_1': 'fav_place',
    'Q9_2a01': 'region_seoul',
    'Q9_2a02': 'region_gyeonggi',
    'Q9_2a03': 'region_incheon',
    'Q9_2a04': 'region_gangwon',
    'Q9_2a05': 'region_daejeon',
    'Q9_2a06': 'region_chungbuk',
    'Q9_2a07': 'region_chungnam',
    'Q9_2a08': 'region_sejong',
    'Q9_2a09': 'region_gyeongbuk',
    'Q9_2a10': 'region_gyeongnam',
    'Q9_2a11': 'region_daegu',
    'Q9_2a12': 'region_ulsan',
    'Q9_2a13': 'region_busan',
    'Q9_2a14': 'region_gwangju',
    'Q9_2a15': 'region_jeonbuk',
    'Q9_2a16': 'region_jeonnam',
    'Q9_2a17': 'region_jeju',
    'M일HAP': 'stay_days_total',
    '총액1인TOT2': 'exp_per_person_total',
    'C총액1인MIS': 'exp_per_person_cat',
    'MQ10_2b01': 'shop_ratio_perfume',
    'MQ10_2b02': 'shop_ratio_food',
    'MQ10_2b03': 'shop_ratio_clothes',
    'MQ10_2b04': 'shop_ratio_shoes',
    'MQ10_2b05': 'shop_ratio_bags',
    'MQ10_2b06': 'shop_ratio_jewelry',
    'MQ10_2b07': 'shop_ratio_ginseng',
    'MQ10_2b08': 'shop_ratio_liquor',
    'MQ10_2b09': 'shop_ratio_tobacco',
    'MQ10_2b10': 'shop_ratio_crafts',
    'MQ10_2b11': 'shop_ratio_kpop',
    'MQ10_2b12': 'shop_ratio_electronics',
    'MQ10_2b13': 'shop_ratio_other',
    'Q11': 'overall_satis',
    'Q12a01': 'satis_dining',
    'Q12a02': 'satis_shopping',
    'Q12a03': 'satis_nature',
    'Q12a04': 'satis_palace',
    'Q12a05': 'satis_trad_culture',
    'Q12a06': 'satis_museum',
    'Q12a07': 'satis_kpop_drama',
    'Q12a08': 'satis_performance',
    'Q12a09': 'satis_festival',
    'Q12a10': 'satis_entertainment',
    'Q12a11': 'satis_recreation',
    'Q12a12': 'satis_beauty',
    'Q12a13': 'satis_medical',
    'Q12a14': 'satis_sports_view',
    'Q12a15': 'satis_sports_part',
    'Q12a16': 'satis_immigration',
    'Q12a17': 'satis_language',
    'Q12a18': 'satis_safety',
    'Q12a19': 'satis_cost',
    'Q12a20': 'satis_accom',
    'Q12a21': 'satis_transport',
    'Q12a22': 'satis_navigation',
    'Q12a23': 'satis_info_service',
    'Q12a24': 'satis_mobile_internet',
    'Q12a25': 'satis_digital_info',
    'Q13': 'revisit_intent',
    'Q14': 'recommend_intent',
    'D_MON': 'month',
    'D_BUN': 'quarter',
    'D_NAT': 'nationality',
    'D_SEX': 'gender',
    'D_AGE': 'age_group',
    'D_MOK': 'visit_purpose_cat',
    'D_NUM': 'visit_count_cat',
    'D_GUB': 'trip_type_cat',
    'weight': 'weight',
    'year': 'year' 
}

d23 = d23[list(new_names.keys())].rename(columns=new_names)
d23.head()

,id,visitnum,triptype,purpose,act_interest,infra_interest,info_1,info_2,info_3,info_na,site_used_1,site_used_2,site_used_3,info_lack_1,info_lack_2,info_lack_3,info_lack_na,booking_time,resv_item_1,resv_item_2,resv_item_3,resv_item_4,resv_item_5,resv_item_6,resv_item_7,resv_item_8,resv_item_9,resv_item_10,resv_item_other,companion,act_satis,fav_place,region_seoul,region_gyeonggi,region_incheon,region_gangwon,region_daejeon,region_chungbuk,region_chungnam,region_sejong,region_gyeongbuk,region_gyeongnam,region_daegu,region_ulsan,region_busan,region_gwangju,region_jeonbuk,region_jeonnam,region_jeju,stay_days_total,exp_per_person_total,exp_per_person_cat,shop_ratio_perfume,shop_ratio_food,shop_ratio_clothes,shop_ratio_shoes,shop_ratio_bags,shop_ratio_jewelry,shop_ratio_ginseng,shop_ratio_liquor,shop_ratio_tobacco,shop_ratio_crafts,shop_ratio_kpop,shop_ratio_electronics,shop_ratio_other,overall_satis,satis_dining,satis_shopping,satis_nature,satis_palace,satis_trad_culture,satis_museum,satis_kpop_drama,satis_performance,satis_festival,satis_entertainment,satis_recreation,satis_beauty,satis_medical,satis_sports_view,satis_sports_part,satis_immigration,satis_language,satis_safety,satis_cost,satis_accom,satis_transport,satis_navigation,satis_info_service,satis_mobile_internet,satis_digital_info,revisit_intent,recommend_intent,month,quarter,nationality,gender,age_group,visit_purpose_cat,visit_count_cat,trip_type_cat,weight,year
0,6,4,1,1,1.0,6.0,1.0,4.0,7.0,NaN,2.0,5.0,6.0,8.0,6.0,NaN,NaN,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,8,11040,1.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,1633.64,2,40,0,0,60,0,0,0,0,0,0,0,0,0,5,5.0,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5,5,5,5,5,5,5,5,1,1,3,2,2,1,4,1,866.099893,2023
1,7,4,1,2,3.0,3.0,3.0,1.0,5.0,NaN,6.0,4.0,8.0,NaN,NaN,NaN,11.0,1,NaN,2.0,NaN,NaN,5.0,NaN,NaN,8.0,NaN,NaN,NaN,1,11,11521,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,2007.30,3,0,0,50,0,0,0,0,40,10,0,0,0,0,5,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5,5,5,5,5,5,5,5,5,5,5,5,1,1,1,1,3,2,4,1,191.333757,2023
2,8,2,1,5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,28003,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1650.00,2,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,4,5,5,5,5,5,5,5,5,5,1,1,4,2,1,5,2,1,244.838755,2023
3,10,1,1,3,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,15,11071,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,3586.80,4,0,0,0,0,0,0,0,0,0,0,0,0,0,5,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5,5,5,5,5,4,5,9,5,5,4,4,1,1,5,1,5,3,1,1,555.272342,2023
4,11,3,1,2,2.0,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,1,2,11012,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,2151.56,3,50,20,0,0,0,0,30,0,0,0,0,0,0,4,5.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5,5,5,5,5,5,5,5,1,1,1,2,4,2,3,1,193.434506,2023

In [7]:
# 2024
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
# print(d2024.isnull().sum())

cols_to_keep = [
        "pnid", "RVIT", "TYP", "Q1", "Q3_1a1", "Q3_1a2", "Q3_1a3", "Q3_2a1",
        "Q3_2a2", "Q3_2a3", "Q4a1", "Q4a2", "Q4a3", "Q4a_dk", "Q4_1a1",
        "Q4_1a2", "Q4_1a3", "Q4_2a1", "Q4_2a2", "Q4_2a3", "Q4_2a_dk", "Q5",
        "Q5_1a01", "Q5_1a02", "Q5_1a03", "Q5_1a04", "Q5_1a05", "Q5_1a06",
        "Q5_1a07", "Q5_1a08", "Q5_1a09", "Q5_1a10", "Q5_1a_dk", "Q6", "Q6_1",
        "Q6_1R", "Q7A", "Q7a_dk", "Q7a2", "Q7a3", "Q7a4", "Q7a5", "Q7a6",
        "Q7a7", "Q7a8", "MQ7_1", "Q8a02", "Q8a03", "Q8a04", "Q8a05", "Q8a06",
        "Q8a07", "Q8a08", "Q8a09", "Q8a10", "Q8a11", "Q8a12", "Q8a13",
        "Q8a14", "Q8a15", "Q8a16", "Q8a17", "Q8a18", "Q8a19", "Q8a20",
        "Q8_1a1", "Q9_1_1", "Q9_2a01", "Q9_2a02", "Q9_2a03", "Q9_2a04",
        "Q9_2a05", "Q9_2a06", "Q9_2a07", "Q9_2a08", "Q9_2a09", "Q9_2a10",
        "Q9_2a11", "Q9_2a12", "Q9_2a13", "Q9_2a14", "Q9_2a15", "Q9_2a16",
        "Q9_2a17", "M박HAP", "M일HAP", "R일HAP",
        "Q10_2a01", "Q10_2a02", "Q10_2a03", "Q10_2a04", "Q10_2a05",
        "Q10_2a06", "Q10_2a07", "Q10_2a08", "Q10_2a09", "Q10_2a10",
        "Q10_2a11", "Q10_2a12", "Q10_2a13", "MQ10_2b01", "MQ10_2b02",
        "MQ10_2b03", "MQ10_2b04", "MQ10_2b05", "MQ10_2b06", "MQ10_2b07",
        "MQ10_2b08", "MQ10_2b09", "MQ10_2b10", "MQ10_2b11", "MQ10_2b12",
        "MQ10_2b13", "Q10_3a1", "Q10_3a2", "Q10_3a3", "Q11", "Q12a01",
        "Q12a02", "Q12a03", "Q12a04", "Q12a05", "Q12a06", "Q12a07", "Q12a08",
        "Q12a09", "Q12a10", "Q12a11", "Q12a12", "Q12a13", "Q12a14", "Q12a15",
        "Q12a16", "Q12a17", "Q12a18", "Q12a19", "Q12a20", "Q12a21", "Q12a22",
        "Q12a23", "Q12a24", "Q12a25", "Q12a26", "Q12a27", "Q13", "Q14",
        "D_MON", "D_BUN", "D_NAT", "D_SEX", "D_AGE", "D_MOK", "D_NUM",
        "D_GUB", "weight", "year"
    ]

# 필요한 컬럼만 선택
d24 = d2024[cols_to_keep]
d24.head()

# 변경할 컬럼 이름 매핑 딕셔너리
new_names = {
        'pnid': 'id',
        'RVIT': 'visitnum',
        'TYP': 'triptype',
        'Q1': 'purpose',
        'Q3_1a1': 'act_interest',
        'Q3_2a1': 'infra_interest',
        'Q4a1': 'info_1',
        'Q4a2': 'info_2',
        'Q4a3': 'info_3',
        'Q4a_dk': 'info_na',
        'Q4_1a1': 'site_used_1',
        'Q4_1a2': 'site_used_2',
        'Q4_1a3': 'site_used_3',
        'Q4_2a1': 'info_lack_1',
        'Q4_2a2': 'info_lack_2',
        'Q4_2a3': 'info_lack_3',
        'Q4_2a_dk': 'info_lack_na',
        'Q5': 'booking_time',
        'Q5_1a01': 'resv_item_1',
        'Q5_1a02': 'resv_item_2',
        'Q5_1a03': 'resv_item_3',
        'Q5_1a04': 'resv_item_4',
        'Q5_1a05': 'resv_item_5',
        'Q5_1a06': 'resv_item_6',
        'Q5_1a07': 'resv_item_7',
        'Q5_1a08': 'resv_item_8',
        'Q5_1a09': 'resv_item_9',
        'Q5_1a10': 'resv_item_10',
        'Q7A': 'companion',
        'Q8_1a1': 'act_satis',
        'Q9_1_1': 'fav_place',
        'Q9_2a01': 'region_seoul',
        'Q9_2a02': 'region_gyeonggi',
        'Q9_2a03': 'region_incheon',
        'Q9_2a04': 'region_gangwon',
        'Q9_2a05': 'region_daejeon',
        'Q9_2a06': 'region_chungbuk',
        'Q9_2a07': 'region_chungnam',
        'Q9_2a08': 'region_sejong',
        'Q9_2a09': 'region_gyeongbuk',
        'Q9_2a10': 'region_gyeongnam',
        'Q9_2a11': 'region_daegu',
        'Q9_2a12': 'region_ulsan',
        'Q9_2a13': 'region_busan',
        'Q9_2a14': 'region_gwangju',
        'Q9_2a15': 'region_jeonbuk',
        'Q9_2a16': 'region_jeonnam',
        'Q9_2a17': 'region_jeju',
        'M일HAP': 'stay_days_total',
        'MQ10_2b01': 'shop_ratio_perfume',
        'MQ10_2b02': 'shop_ratio_food',
        'MQ10_2b03': 'shop_ratio_clothes',
        'MQ10_2b04': 'shop_ratio_shoes',
        'MQ10_2b05': 'shop_ratio_bags',
        'MQ10_2b06': 'shop_ratio_jewelry',
        'MQ10_2b07': 'shop_ratio_ginseng',
        'MQ10_2b08': 'shop_ratio_liquor',
        'MQ10_2b09': 'shop_ratio_tobacco',
        'MQ10_2b10': 'shop_ratio_crafts',
        'MQ10_2b11': 'shop_ratio_kpop',
        'MQ10_2b12': 'shop_ratio_electronics',
        'MQ10_2b13': 'shop_ratio_other',
        'Q11': 'overall_satis',
        'Q12a01': 'satis_dining',
        'Q12a02': 'satis_shopping',
        'Q12a03': 'satis_nature',
        'Q12a04': 'satis_palace',
        'Q12a05': 'satis_trad_culture',
        'Q12a06': 'satis_museum',
        'Q12a07': 'satis_kpop_drama',
        'Q12a08': 'satis_performance',
        'Q12a09': 'satis_festival',
        'Q12a10': 'satis_entertainment',
        'Q12a11': 'satis_recreation',
        'Q12a12': 'satis_beauty',
        'Q12a13': 'satis_medical',
        'Q12a14': 'satis_sports_view',
        'Q12a15': 'satis_sports_part',
        'Q12a16': 'satis_immigration',
        'Q12a17': 'satis_language',
        'Q12a18': 'satis_safety',
        'Q12a19': 'satis_cost',
        'Q12a20': 'satis_accom',
        'Q12a21': 'satis_transport',
        'Q12a22': 'satis_navigation',
        'Q12a23': 'satis_info_service',
        'Q12a24': 'satis_mobile_internet',
        'Q12a25': 'satis_digital_info',
        'Q13': 'revisit_intent',
        'Q14': 'recommend_intent',
        'D_MON': 'month',
        'D_BUN': 'quarter',
        'D_NAT': 'nationality',
        'D_SEX': 'gender',
        'D_AGE': 'age_group',
        'D_MOK': 'visit_purpose_cat',
        'D_NUM': 'visit_count_cat',
        'D_GUB': 'trip_type_cat',
        'weight': 'weight',
        'year': 'year'}

d24 = d24[list(new_names.keys())].rename(columns=new_names)
d24.head()

,id,visitnum,triptype,purpose,act_interest,infra_interest,info_1,info_2,info_3,info_na,site_used_1,site_used_2,site_used_3,info_lack_1,info_lack_2,info_lack_3,info_lack_na,booking_time,resv_item_1,resv_item_2,resv_item_3,resv_item_4,resv_item_5,resv_item_6,resv_item_7,resv_item_8,resv_item_9,resv_item_10,companion,act_satis,fav_place,region_seoul,region_gyeonggi,region_incheon,region_gangwon,region_daejeon,region_chungbuk,region_chungnam,region_sejong,region_gyeongbuk,region_gyeongnam,region_daegu,region_ulsan,region_busan,region_gwangju,region_jeonbuk,region_jeonnam,region_jeju,stay_days_total,shop_ratio_perfume,shop_ratio_food,shop_ratio_clothes,shop_ratio_shoes,shop_ratio_bags,shop_ratio_jewelry,shop_ratio_ginseng,shop_ratio_liquor,shop_ratio_tobacco,shop_ratio_crafts,shop_ratio_kpop,shop_ratio_electronics,shop_ratio_other,overall_satis,satis_dining,satis_shopping,satis_nature,satis_palace,satis_trad_culture,satis_museum,satis_kpop_drama,satis_performance,satis_festival,satis_entertainment,satis_recreation,satis_beauty,satis_medical,satis_sports_view,satis_sports_part,satis_immigration,satis_language,satis_safety,satis_cost,satis_accom,satis_transport,satis_navigation,satis_info_service,satis_mobile_internet,satis_digital_info,revisit_intent,recommend_intent,month,quarter,nationality,gender,age_group,visit_purpose_cat,visit_count_cat,trip_type_cat,weight,year
0,57,4,1,1,1.0,3.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,11.0,6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,11001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,40.0,30.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5,5,5,5,5,5,5,1,1,13,2,5,1,4,1,198.02,2024
1,58,4,1,1,11.0,6.0,1.0,4.0,NaN,NaN,5.0,4.0,3.0,NaN,NaN,NaN,11.0,5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,11001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,50.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,5.0,5.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,4,4,4,4,4,4,4,5,5,1,1,3,2,4,1,4,1,784.28,2024
2,59,3,1,1,12.0,2.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,6,1.0,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2,12,41001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0.0,0.0,70.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5,3,5,5,5,5,3,5,5,4,4,1,1,3,2,3,1,3,1,607.02,2024
3,60,1,1,1,11.0,2.0,4.0,3.0,1.0,NaN,5.0,6.0,7.0,NaN,NaN,NaN,11.0,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11,11001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,34.0,33.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,5.0,NaN,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5,5,5,5,5,5,5,5,5,5,5,1,1,1,1,2,1,1,1,1049.50,2024
4,61,4,1,1,1.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,5,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,11506,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,33.0,34.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4,3,4,4,4,4,3,4,4,5,5,1,1,3,2,2,1,4,1,876.80,2024

In [8]:
# 데이터 합치기
data = pd.concat([d23, d24], ignore_index=True)
data.tail()  
data.info() # 32411 rows × 103 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32412 entries, 0 to 32411
Columns: 103 entries, id to year
dtypes: float64(72), int64(30), object(1)
memory usage: 25.5+ MB

In [10]:
# csv 파일로 바꾸기
data.to_csv('data/2324.csv', index=False, encoding='utf-8-sig')