In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [2]:
# data 불러오기
df = pd.read_csv('data/2324.csv')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)

#print(df.isnull().sum())
df.tail(2)

C:\Users\Tammy Kim\AppData\Local\Temp\ipykernel_12396\4098279702.py:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/2324.csv')

,id,visitnum,triptype,purpose,act_interest,infra_interest,info_1,info_2,info_3,info_na,site_used_1,site_used_2,site_used_3,info_lack_1,info_lack_2,info_lack_3,info_lack_na,booking_time,resv_item_1,resv_item_2,resv_item_3,resv_item_4,resv_item_5,resv_item_6,resv_item_7,resv_item_8,resv_item_9,resv_item_10,resv_item_other,companion,act_satis,fav_place,region_seoul,region_gyeonggi,region_incheon,region_gangwon,region_daejeon,region_chungbuk,region_chungnam,region_sejong,region_gyeongbuk,region_gyeongnam,region_daegu,region_ulsan,region_busan,region_gwangju,region_jeonbuk,region_jeonnam,region_jeju,stay_days_total,exp_per_person_total,exp_per_person_cat,shop_ratio_perfume,shop_ratio_food,shop_ratio_clothes,shop_ratio_shoes,shop_ratio_bags,shop_ratio_jewelry,shop_ratio_ginseng,shop_ratio_liquor,shop_ratio_tobacco,shop_ratio_crafts,shop_ratio_kpop,shop_ratio_electronics,shop_ratio_other,overall_satis,satis_dining,satis_shopping,satis_nature,satis_palace,satis_trad_culture,satis_museum,satis_kpop_drama,satis_performance,satis_festival,satis_entertainment,satis_recreation,satis_beauty,satis_medical,satis_sports_view,satis_sports_part,satis_immigration,satis_language,satis_safety,satis_cost,satis_accom,satis_transport,satis_navigation,satis_info_service,satis_mobile_internet,satis_digital_info,revisit_intent,recommend_intent,month,quarter,nationality,gender,age_group,visit_purpose_cat,visit_count_cat,trip_type_cat,weight,year
32410,19277,2,1,1,3.0,1.0,1.0,NaN,NaN,NaN,6.0,5.0,NaN,NaN,NaN,NaN,11.0,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,50504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,5,NaN,NaN,30.0,20.0,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,5,5.0,5.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5,5,4,4,3,4,4,4,4,4,12,4,1,1,5,1,2,1,1287.85,2024
32411,19279,1,1,2,1.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,50005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,26,NaN,NaN,0.0,70.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,5,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,5,5,5,5,5,5,4,5,4,5,5,12,4,4,1,2,2,1,1,916.93,2024

In [3]:
df2324 = df[df['act_interest'].notna()]

print(df2324.shape)
print(df2324['act_interest'].isna().sum())

df2324 = df[df['act_interest'].notna()]
print(df2324['act_interest'].isna().sum())  # 0이어야 정상
print(df['act_interest'].dtype)

df2324.isna().sum()  # 결측치 확인

(24230, 103)
0
0
float64

id                            0
visitnum                      0
triptype                      0
purpose                       0
act_interest                  0
infra_interest                0
info_1                      977
info_2                     7992
info_3                    14198
info_na                   23252
site_used_1                6552
site_used_2                8681
site_used_3               12101
info_lack_1                9914
info_lack_2               14570
info_lack_3               17401
info_lack_na              14316
booking_time                  0
resv_item_1                7698
resv_item_2               22436
resv_item_3               23203
resv_item_4               21454
resv_item_5               21693
resv_item_6               22977
resv_item_7               22612
resv_item_8               22494
resv_item_9               22636
resv_item_10              23655
resv_item_other           24090
companion                     0
act_satis                     0
fav_place                     0
region_seoul               3727
region_gyeonggi           21492
region_incheon            22767
region_gangwon            22102
region_daejeon            24009
region_chungbuk           24094
region_chungnam           24076
region_sejong             24184
region_gyeongbuk          23484
region_gyeongnam          23863
region_daegu              23736
region_ulsan              23980
region_busan              19083
region_gwangju            23985
region_jeonbuk            23864
region_jeonnam            24016
region_jeju               21818
stay_days_total               0
exp_per_person_total      12261
exp_per_person_cat        12261
shop_ratio_perfume            0
shop_ratio_food               0
shop_ratio_clothes            0
shop_ratio_shoes              0
shop_ratio_bags               0
shop_ratio_jewelry            0
shop_ratio_ginseng            0
shop_ratio_liquor             0
shop_ratio_tobacco            0
shop_ratio_crafts             0
shop_ratio_kpop               0
shop_ratio_electronics        0
shop_ratio_other              0
overall_satis                 0
satis_dining               5113
satis_shopping             3340
satis_nature               9272
satis_palace              15674
satis_trad_culture        15064
satis_museum              17304
satis_kpop_drama          18969
satis_performance         22099
satis_festival            23054
satis_entertainment       21792
satis_recreation          20061
satis_beauty              20631
satis_medical             21970
satis_sports_view         23247
satis_sports_part         23472
satis_immigration         11871
satis_language                0
satis_safety                  0
satis_cost                    0
satis_accom                   0
satis_transport               0
satis_navigation              0
satis_info_service            0
satis_mobile_internet         0
satis_digital_info            0
revisit_intent                0
recommend_intent              0
month                         0
quarter                       0
nationality                   0
gender                        0
age_group                     0
visit_purpose_cat             0
visit_count_cat               0
trip_type_cat                 0
weight                        0
year                          0
dtype: int64

In [4]:
# 웰니스 변수 만들기
df2324['wellness'] = ((df2324['act_interest'] == 3) | (df2324['act_interest'] == 12)).astype(int)
df2324['wellness'].value_counts() # 웰니스 관광객 4160명

C:\Users\Tammy Kim\AppData\Local\Temp\ipykernel_12396\3988806115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2324['wellness'] = ((df2324['act_interest'] == 3) | (df2324['act_interest'] == 12)).astype(int)

wellness
0    20070
1     4160
Name: count, dtype: int64

In [5]:
# 정보부족 여부
print(df2324['info_1'].value_counts())
print(df2324['info_2'].value_counts())
print(df2324['info_3'].value_counts())

print(df2324['info_1'].isna().sum())
print(df2324['info_2'].isna().sum())
print(df2324['info_3'].isna().sum())

info_1
1.0    11236
4.0     6294
3.0     2332
2.0     1184
5.0      891
6.0      853
7.0      441
8.0       20
9.0        2
Name: count, dtype: int64
info_2
4.0    4932
1.0    4670
3.0    2568
5.0    1475
6.0    1065
2.0     892
7.0     628
8.0       8
Name: count, dtype: int64
info_3
3.0    2248
4.0    2218
1.0    1772
5.0    1390
6.0    1040
2.0     707
7.0     648
8.0       9
Name: count, dtype: int64
977
7992
14198

In [6]:
# 정보 부족 항목 수 계산: info_lack_1~3 중 Not-NaN의 개수 세기
df2324['infolack'] = df2324[['info_lack_1', 'info_lack_2', 'info_lack_3']].notna().sum(axis=1)
print(df2324['infolack'].value_counts())

# 0: 아무 항목도 선택하지 않음 (무응답, 이 경우에 어떻게 해석해야 할지)
# 1: 3개 중 1개 선택 -> 정보 부족 경험 있음
# 2 : 3개 중 2개 선택 -> 더 많은 정보 부족
# 3 : 3개 모두 선택 -> 정보 부족 경험 강함

infolack
0    9914
3    6829
1    4656
2    2831
Name: count, dtype: int64

C:\Users\Tammy Kim\AppData\Local\Temp\ipykernel_12396\3936798868.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2324['infolack'] = df2324[['info_lack_1', 'info_lack_2', 'info_lack_3']].notna().sum(axis=1)

### 0. 주요 변수
1. overall_satis: 1	매우 불만족, 2 불만족, 3 보통, 4 만족, 5 매우 만족
2. infolack: 0(무응답), 1(1/3), 2(2/2), 3(3/3, 정보 부족에 갈망을 느끼는 집단)
3. wellness : 0(일반), 1(웰니스)

### 1. 통계검정

In [7]:
from scipy.stats import shapiro, normaltest, anderson, levene

In [8]:
group_no_lack = df2324[df2324['infolack'] == 0]['overall_satis'].dropna()
group_lack1 = df2324[df2324['infolack'] == 1]['overall_satis'].dropna()
group_lack2 = df2324[df2324['infolack'] == 2]['overall_satis'].dropna()
group_lack3 = df2324[df2324['infolack'] == 3]['overall_satis'].dropna()

# 정규성 검정
for i, group in zip([0,1,2,3], [group_no_lack, group_lack1, group_lack2, group_lack3]):
    stat, p = shapiro(group)
    print(f'infolack={i} 정규성 검정: W={stat:.3f}, p={p:.4f}')

# 등분산성 검정
stat, p = levene(group_no_lack, group_lack1, group_lack2, group_lack3)
print(f'등분산성 검정 결과: W={stat:.3f}, p={p:.4f}')

# 정규성 가정과 등분산성 가정을 충족하지 않음.

infolack=0 정규성 검정: W=0.597, p=0.0000
infolack=1 정규성 검정: W=0.655, p=0.0000
infolack=2 정규성 검정: W=0.660, p=0.0000
infolack=3 정규성 검정: W=0.638, p=0.0000
등분산성 검정 결과: W=54.794, p=0.0000

c:\anaconda\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 9914.
  res = hypotest_fun_out(*samples, **kwds)
c:\anaconda\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 6829.
  res = hypotest_fun_out(*samples, **kwds)

In [9]:
# 정규성, 등분산성 가정을 위반하고, 순서형 변수이기 때문에 kruskal-wallis 검정을 사용함. 
from scipy.stats import kruskal

stat, p = kruskal(group_no_lack, group_lack1, group_lack2, group_lack3)
print(f"Kruskal-Wallis H-test: H={stat:.3f}, p={p:.4f}")

# 네 그룹 간 overall_satis(전반적 만족도)의 분포 차이가 통계적으로 유의미함을 의미

Kruskal-Wallis H-test: H=158.235, p=0.0000

In [16]:
mean_satis = df2324.groupby(['wellness', 'infolack'])['overall_satis'].mean()
print(mean_satis)

wellness  infolack
0         0           4.685957
          1           4.587667
          2           4.592233
          3           4.600071
1         0           4.646684
          1           4.554885
          2           4.504425
          3           4.579299
Name: overall_satis, dtype: float64

In [18]:
# 맨-위트니: 웰니스 관광객과 일반관광객 사이에 전반적 만족도 점수가 통계적으로 의미있게 다른가?
from scipy.stats import mannwhitneyu

group_wellness = df2324[df2324['wellness'] == 1]['overall_satis'].dropna()
group_general = df2324[df2324['wellness'] == 0]['overall_satis'].dropna()

stat, p = mannwhitneyu(group_wellness, group_general, alternative='two-sided')
print(f"Mann-Whitney U test: statistic={stat}, p-value={p:.4f}")

# 두 그룹의 만족도는 서로 다르다고 할 수 있음.

Mann-Whitney U test: statistic=40100159.0, p-value=0.0000

In [23]:
df2324.head()
# csv 파일로 바꾸기
df2324.to_csv('data/2324.csv', index=False, encoding='utf-8-sig')